
<ion-view title="Survey Completed">
	<style type="text/css">
	ion-content > .scroll{
		height: 100%
	}
	.success-msg{
		    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
        font-size: 22px;
	}
	.ion-checkmark-circled{
		position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;	
        font-size: 100px;
    color: green;
    margin-top: -50px;
	}
	.go-back{
		position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;	
	}
	.go-back > button{
		    background-color: #387EF5;
    width: 100%;
    color: white;
    font-size: 16px;
    line-height: 28px;
    border: none;
    border-radius: 3px;
	}
	</style>
	<ion-nav-bar class="bar-stable bar-positive">
		<div style="float: right !important; padding-right: 3%; z-index: 99999 !important; position: absolute; right: 0;">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="right" style="color:#FFF !important; float: right; font-size: 30px;"></button>
		</div>
	</ion-nav-bar>
	
	<ion-content>
        <ng-include src="'templates/testmode.html'" ng-show="checkAppMode()" ng-controller="settingsCTRL"></ng-include>
		<div class="success-msg">Survey Completed Successfully!</div>
		<i class="ion-checkmark-circled"></i>
		<div class="go-back"><button ui-sref="app.dashboard">Go to dashboard</button></div>
		
	</ion-content>
</ion-view>