<style type="text/css">
	.ng-binding .ng-pristine{
		margin-right: 5px;
	}
	.ionic .ion-checkmark:before {
	    padding: 5px 6px !important;
	    background: blue !important;
	    color: white !important;
	    border-radius: 100% !important;
	    font-size: 17px !important;
	    height: 27px !important;
	}
	.answer_row .col ul li{
		padding-left: 0px !important;
		padding: 0px !important;
    	background-color: transparent !important;
	}
	.ion-checkmark:before{
		    border: 3px solid;
		    width: 32px;
		    text-align: center;
		    line-height: 26px;
		    border-radius: 50%;
		    font-size: 19px;
	}
	.radio-icon{
		margin-top: -6px;
	}
	.background-options{
		    background-color: white;
   			padding:5px 5px 5px 5px;
   			margin-bottom: 0;


	}
	.background-options > .md-container{
		margin-left: 10px

	}
	.background-options > .md-label{
		top: -1.5px;

	}

    input[type=checkbox],
    input[type=radio] {
      display: inline-block;
      margin: 0;
      padding: 0!important;
      outline: 0;
      width: 24px;
      min-width: 24px;
      height: 24px;
      line-height: 0;
      color: #555;
      background-color: #fff;
      border: 1px solid #b4b9be;
      clear: none;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      -webkit-appearance: none;
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out
    }
    input[type=radio] {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%
    }
    input[type=radio]:checked {
      background-color: #0073aa;
      border: 1px solid #0073aa
    }
    input[type=radio]:before {
      content: "";
      width: 4px;
      height: 4px;
      margin: 10px;
      opacity: 0;
      display: block;
      background-color: rgba(255,255,255,.8);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out
    }
    input[type=radio]:checked:before {
      opacity: 1;
      width: 8px;
      height: 8px;
      margin: 7px;
      display: block
    }
    input[type=checkbox]:checked {
      background-color: #0073aa;
      border: 1px solid #0073aa
    }
    input[type=checkbox]:before {
      content: "";
      opacity: 0;
      width: 8px;
      height: 14px;
      margin: 2px 0 0 7px;
      display: block;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out
    }
    input[type=checkbox]:checked:before {
      opacity: 1
    }
    
</style>
<div class="row answer_row">
	<div class="col">
        <ul>
            <li ng-repeat="opt in $parent.radioOptions">
                <label>
                    <input type="radio" value="{{opt.option_value}}" name="radio_{{questId}}" ng-if="repeater" ng-click="setNextQuestion(opt.option_next)" />
                    <input type="radio" value="{{opt.option_value}}" name="radio" ng-model="radioAnswer.value" ng-if="!repeater" ng-click="setNextQuestion(opt.option_next)" /> {{opt.option_text}}
                </label>
            </li>
        </ul>
	</div>
</div>
